@section endBodyArea{
<script src="~/assets/js/ClassroomScript/ClassroomScript.js" type="text/javascript"> </script>
<script src="~/assets/js/CustomScript.js" type="text/javascript"> </script>
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Tüm Sınıflar </h4>
        <button type="button" class="btn btn-primary" onclick="insertClassroomOpenModal()">+ Yeni Sınıf</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="classroomDT" class="display dataTable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Sınıf Adı</th>
                        <th>Eğitim Adı</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("../Shared/PartialViews/_AddClassroomModalPartial")

<!-- Include Student Modal -->
<div id="includeStudentModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sınıfa Öğrenci Ata</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form class="form-valide" id="includeStudentForm">
                <div class="modal-body">
                    <div class="form-validation">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label" for="studentDropDown">
                                        Öğrenci Seçiniz:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="hidden" name="hiddenClassroomId" id="hiddenClassroomId" />
                                        <select class="form-control" id="studentId" name="studentId" required>
                                            <option value="" selected disabled>Öğrenci Seçiniz..</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Show Student Modal -->
<div id="showStudentModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sınıfın Öğrencileri</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="studentDT" class="display dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>e-Posta</th>
                                <th>Parola</th>
                                <th>Üyelik Tarihi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>